@media (min-width: 34em) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (min-width: 48em) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (min-width: 62em) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media (min-width: 75em) {
  .card-columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}

.btn.btn-purple {
  background-color: rebeccapurple;
  border-color: rebeccapurple;
  color: white;
  &:hover {
    border-color: #af83dc;
    background-color: #af83dc;
  }
}

#collection {
  color: white;
  .text-muted {
    color: #2d343b !important;
  }
}

.card-body {
  position: relative;
  top: -42px;
  color: #000;
  text-decoration: none;
  margin-bottom: -42px;
  &:hover {
    text-decoration: none !important;
  }
}

.card {
  a:hover {
    text-decoration: none !important;
  }
  img.card-img-top {
    position: relative;
    top: -40px;
  }

  .action-menu {
    position: relative;
    z-index: 1;
    button {
      background-color: transparent;
      padding: 0;
      margin: 0;
      border: none;
      &:focus {
        outline: none !important;
      }
    }
    a {
      line-height: 1px;
    }
    i {
      color: rebeccapurple;
    }
  }
  .price {
    background-color: rebeccapurple;
    color: white;
    padding: 5px 20px;
    border-radius: 6px;
    position: relative;
    top: -30px;
  }
  .location {
    font-size: 14px;
    position: relative;
    top: -13px;
    color: rebeccapurple;
  }
}
